.debt {
    color: red;
  }
  
.credit {
    color: green;
}

.even {
    color: white;
}

.friends-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
    background-color: #1d2127;
    border-radius: 6px;
    min-width: 270px;
    height: 100%;
    padding: 1.5rem;
}

.friend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    background-color: #1d2127;
    padding: 1rem 0.8rem;
    border-radius: 8px;
}

.friend .friend-select-button:last-child,
.friend .selected-button:last-child {
    margin: auto;
}

.friend img {
    border-radius: 6px;
}

.friend-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.friend-select-button {
    background-color: #00ADB5;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.friend-add-button {
    background-color: #00b59a;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.friend-add-button:hover {
    background-color: #018f7a;
}

.friend-select-button:hover {
    background-color: #02838a;
}

.selected {
    background-color: #393E46;
  }
  
.selected-button {
    background-color: #b50045;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 9rem;
}

.selected-button:hover {
    background-color: #97023b;
}

@media (max-width: 650px) {
    .friends-list {
        width: 100%;
        height: auto;
    }

    .friend img {
        width: 15rem;
    }

    .friend-text-container h3 {
        font-size: 3rem;
    }


    .debt, .credit, .even {
        font-size: 2rem;
    }

    .friend-select-button {
        height: 6rem;
        font-size: 2rem;
    }
    
    .selected-button {
        height: 6rem;
        font-size: 2rem;
    }

    .friend-add-button {
        height: 6rem;
        margin-top: 15px;
        font-size: 2rem;
    }
}